<div id="nav-border" class="container-fluid px-0">
    <nav class="navbar navbar-dark px-5" style="background-color: #000">
        <a class="navbar-brand navbar-left" href="#">
            <h3>
                zero context
               
              </h3>
        
        </a>

        <div class="d-flex">

            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}

            {{- if .HasChildren -}}
            <!-- https://stackoverflow.com/questions/26147186/how-to-restrict-width-of-bootstrap-3-dropdown-menu-in-navbar -->
            <div class="fill-width dropdown" id="tech-dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="{{.Name}}"
                    data-bs-toggle="dropdown">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}

                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>


                <ul class="dropdown-menu " aria-labelledby="{{.Name}}">
                    {{ range .Children }}
                    <li class="{{ if $currentPage.HasMenuCurrent " main" . }}active{{ end }}">
                        <a class="dropdown-item" href="{{ .URL }}">{{.Name}}</a></li>
                    </li>
                    {{ end }}
                </ul>
            </div>




            {{ else }}
            <a class="nav-link p-2" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}

                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
            </a>
            {{ end }}
            {{ end }}

        </div>
    </nav>
</div>
